{% extends 'base.html.twig' %}

{% block title %}Hello PerfoController!{% endblock %}
        {% block javascripts %}
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var startScriptButton = document.getElementById("start-script");
        if (startScriptButton) {
            startScriptButton.addEventListener("click", function() {
                axios.get("{{ path('long_script') }}")
                .then(function (response) {
                    document.getElementById("script-result").innerHTML = "script fini";
                })
                .catch(function (error) {
                    console.error(error);
                });
            });
        }
    });
</script>
        {% endblock %}
{% block body %}
<button id="start-script">Lancer le script</button>
<div id="script-result"></div>
{% endblock %}
